<h1>Orinoco boutique en ligne</h1>
<div class="container">
    <section class="camera">
        <h2>Caméras</h2>
        <div class="items" id="camera__items">
            Loading...
        </div>
        <script id="camera__items__template" type="x-tmpl-mustache">
                {{#items}}
                    <a href="/?route=produit&categorie=camera&id={{_id}}">
                    <div class="item">
                        <h3>{{name}}</h3>
                        <img src="{{imageUrl}}" alt="{{name}}" />
                        <p>{{description}}</p>
                        <p class="item__price">{{price}}€</p>
                    </div></a>
                {{/items}}
            </script>
    </section>

    <section class="teddy">
        <h2>Ours en peluche</h2>
        <div class="items" id="teddy__items">
            Loading...
        </div>
        <script id="teddy__items__template" type="x-tmpl-mustache">
                {{#items}}
                    <a href="/?route=produit&categorie=teddy&id={{_id}}">
                    <div class="item">
                        <h3>{{name}}</h3>
                        <img src="{{imageUrl}}" alt="{{name}}" />
                        <p>{{description}}</p>
                        <p class="item__price">{{price}}€</p>
                    </div></a>
                {{/items}}
            </script>
    </section>

    <section class="furniture">
        <h2>Meubles en chêne</h2>
        <div class="items" id="furniture__items">
            Loading...
        </div>
        <script id="furniture__items__template" type="x-tmpl-mustache">
                {{#items}}
                    <a href="/?route=produit&categorie=furniture&id={{_id}}">
                    <div class="item">
                        <h3>{{name}}</h3>
                        <img src="{{imageUrl}}" alt="{{name}}" />
                        <p>{{description}}</p>
                        <p class="item__price">{{price}}€</p>
                    </div></a>
                {{/items}}
            </script>
    </section>
</div>