<h1>Paiement</h1>
<div class="container">
    <div class="payment" id="payment"></div>
    <script id="payment__template" type="x-tmpl-mustache">
        <h2>Récapitulatif de votre commande</h2>
        <h3>Commande expédiée par la boutique webcam</h3>
        <div class="payment__ordered">
          <div class="payment__ordered__pictures">
            <img alt="1" class="payment__ordered__pictures--1" src="http://localhost:3000/images/vcam_1.jpg" />
            <img alt="1" class="payment__ordered__pictures--2" src="http://localhost:3000/images/vcam_2.jpg" />
            <img alt="1" class="payment__ordered__pictures--3" src="http://localhost:3000/images/vcam_3.jpg" />
            <img alt="1" class="payment__ordered__pictures--4" src="http://localhost:3000/images/vcam_4.jpg" />
          </div>
          <div class="payment__ordered__number">
            <p>Commande numéro</p>
            <p>XXXXXXXX</p>
          </div>
          <div class="payment__ordered__address">
            <p>Adresse de livraison</p>
            <p>25 rue de Bâle à Mulhouse</p>
          </div>
          <div class="payment__ordered__total-articles">
            <p>Nombre d'articles</p>
            <p>4</p>
          </div>
          <div class="payment__ordered__total-price">
            <p>Prix de la commande</p>
            <p>0€</p>
          </div>
        </div>

        <h3>Commande expédiée par la boutique teddy</h3>
        <div class="payment__ordered">
          <div class="payment__ordered__pictures">
            <img alt="1" class="payment__ordered__pictures--1" src="http://localhost:3000/images/teddy_4.jpg" />
          </div>
          <div class="payment__ordered__number">
            <p>Commande numéro</p>
            <p>XXXXXXXX</p>
          </div>
          <div class="payment__ordered__address">
            <p>Adresse de livraison</p>
            <p>25 rue de Bâle à Mulhouse</p>
          </div>
          <div class="payment__ordered__total-articles">
            <p>Nombre d'articles</p>
            <p>1</p>
          </div>
          <div class="payment__ordered__total-price">
            <p>Prix de la commande</p>
            <p>0€</p>
          </div>
        </div>

        <h3>Commande expédiée par la boutique furniture</h3>
        <div class="payment__ordered">
          <div class="payment__ordered__pictures">
            <img alt="1" class="payment__ordered__pictures--1" src="http://localhost:3000/images/oak_3.jpg" />
            <img alt="1" class="payment__ordered__pictures--2" src="http://localhost:3000/images/oak_5.jpg" />
          </div>
          <div class="payment__ordered__number">
            <p>Commande numéro</p>
            <p>XXXXXXXX</p>
          </div>
          <div class="payment__ordered__address">
            <p>Adresse de livraison</p>
            <p>25 rue de Bâle à Mulhouse</p>
          </div>
          <div class="payment__ordered__total-articles">
            <p>Nombre d'articles</p>
            <p>2</p>
          </div>
          <div class="payment__ordered__total-price">
            <p>Prix de la commande</p>
            <p>0€</p>
          </div>
        </div>

    </script>
</div>