<h1>Paiement</h1>
<div class="container">
    <div class="payment" id="payment"></div>
    <script id="payment__template" type="x-tmpl-mustache">
        <h2>Récapitulatif de votre commande</h2>
        {{#confirmation.camera}}
            <h3>Commande expédiée par la boutique webcam</h3>
            <div class="payment__ordered">
              <div class="payment__ordered__pictures">
                {{#lastPictures}}
                    <img alt="miniature" class="payment__ordered__pictures--{{count}}" src="{{imageUrl}}" />
                {{/lastPictures}}
              </div>
              <div class="payment__ordered__number">
                <p>Commande numéro</p>
                <p>{{orderId}}</p>
              </div>
              <div class="payment__ordered__address">
                <p>Adresse de livraison</p>
                <p>{{contact.address}} à {{contact.city}}</p>
              </div>
              <div class="payment__ordered__total-articles">
                <p>Nombre d'articles</p>
                <p>{{totalArticles}}</p>
              </div>
              <div class="payment__ordered__total-price">
                <p>Prix de la commande</p>
                <p>{{totalPrice}}€</p>
              </div>
            </div>
        {{/confirmation.camera}}

        {{#confirmation.teddy}}
            <h3>Commande expédiée par la boutique teddy</h3>
            <div class="payment__ordered">
              <div class="payment__ordered__pictures">
                {{#lastPictures}}
                    <img alt="miniature" class="payment__ordered__pictures--{{count}}" src="{{imageUrl}}" />
                {{/lastPictures}}
              </div>
              <div class="payment__ordered__number">
                <p>Commande numéro</p>
                <p>{{orderId}}</p>
              </div>
              <div class="payment__ordered__address">
                <p>Adresse de livraison</p>
                <p>{{contact.address}} à {{contact.city}}</p>
              </div>
              <div class="payment__ordered__total-articles">
                <p>Nombre d'articles</p>
                <p>{{totalArticles}}</p>
              </div>
              <div class="payment__ordered__total-price">
                <p>Prix de la commande</p>
                <p>{{totalPrice}}€</p>
              </div>
            </div>
        {{/confirmation.teddy}}

        {{#confirmation.furniture}}
            <h3>Commande expédiée par la boutique furniture</h3>
            <div class="payment__ordered">
              <div class="payment__ordered__pictures">
                {{#lastPictures}}
                    <img alt="miniature" class="payment__ordered__pictures--{{count}}" src="{{imageUrl}}" />
                {{/lastPictures}}
              </div>
              <div class="payment__ordered__number">
                <p>Commande numéro</p>
                <p>{{orderId}}</p>
              </div>
              <div class="payment__ordered__address">
                <p>Adresse de livraison</p>
                <p>{{contact.address}} à {{contact.city}}</p>
              </div>
              <div class="payment__ordered__total-articles">
                <p>Nombre d'articles</p>
                <p>{{totalArticles}}</p>
              </div>
              <div class="payment__ordered__total-price">
                <p>Prix de la commande</p>
                <p>{{totalPrice}}€</p>
              </div>
            </div>
        {{/confirmation.furniture}}
        <button id="payment__ordered__cancel" class="payment__ordered__cancel">Annuler la commande</button>
    </script>
</div>