$color1: #f3e9f1
$color2: #f6f6f6
$color3: #b3aab1

*
  padding: 0
  margin: 0

header
  display: flex
  justify-content: space-between
  align-items: center
  background-color: $color1
  padding: 10px
  .logo
    width: 150px
  nav ul li
    display: inline-block
    font-size: 20px
    padding: 10px
    a
      text-decoration: none
      color: blue
      display: flex

main
  h1
    display: flex
    justify-content: center

.container
  background-color: $color1
  padding: 10px

.teddy, .furniture
  margin-top: 20px

.items
  display: flex
  flex-wrap: wrap
  justify-content: center
  a
    text-decoration: none
    color: black

.item
  background-color: $color2
  height: 430px
  margin: 10px
  border-radius: 12px
  padding: 10px
  img
    margin-top: 10px
    object-fit: cover
    width: 100%
    height: 300px
  h3
    text-align: center
  p
    margin-top: 10px
  &__price
    font-weight: bold

.product
  img
    margin-top: 10px
    width: 100%
    height: 300px
    object-fit: cover
  p, button
    margin-top: 10px
  &__price
    font-weight: bold

.basket
  &__item
    margin-top: 50px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 15px
    img
      margin-top: 10px
      object-fit: cover
      width: 200px
      height: 150px
    &__product
      background-color: white
      border-radius: 12px
      padding: 5px
      text-align: center
      font-weight: bold
      a
        color: black
        text-decoration: none
    &__customization__delete
      background-color: red
      text-decoration: none
      border: none
      padding: 2px
      border-radius: 5px
      color: white
    &__description
      width: 300px
    &__price
      font-weight: bold
  &__total-price
    text-align: right
  &__form__container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  &__error
    display: flex
    justify-content: space-around
    background-color: #ffc1ba
    width: 700px
    border-radius: 12px
    margin-top: 50px
    padding: 20px 70px 20px 70px
    &__messages
      margin-left: 50px
      &__message
        display: block
        margin-top: 5px
    &__warning
      display: flex
      flex-direction: column
      justify-content: center
      img
        width: 100px

  form
    background-color: white
    border-radius: 12px
    width: 700px
    padding: 50px 70px 50px 70px
    margin-top: 50px
    h2
      margin-bottom: 50px
    input, textarea
      display: block
      margin-bottom: 15px
      width: 100%
    input[type=text], input[type=email]
      height: 20px
    button
      margin-top: 50px
      border: none
      background-color: green
      color: white
      border-radius: 5px
      padding: 5px
  &__empty
    display: flex
    align-items: center
    flex-direction: column
    img
      width: 500px
    p
      font-size: 40px

.payment
  margin: auto
  width: 1000px
  h2
    margin-bottom: 40px
  h3
    margin-top: 20px
  &__ordered
    margin-top: 20px
    background-color: white
    border-radius: 12px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px
    &__pictures
      width: 115px
      height: 80px
      &--1
        z-index: 4
      &--2
        margin-left: 7px
        margin-top: 7px
        z-index: 3
      &--3
        margin-left: 14px
        margin-top: 14px
        z-index: 2
      &--4
        margin-left: 21px
        margin-top: 21px
        z-index: 1
      img
        object-fit: cover
        position: absolute
        width: 100px
        height: 70px
        border-radius: 5px
        border: 1px solid black

footer
  display: flex
  justify-content: center
  align-items: center
  font-size: 20px
  margin-top: 20px
  height: 70px
  background-color: $color1

@media screen and (min-width: 1200px)

  main
    h1
      margin-top: 20px

  .container
    width: 1200px
    margin: auto
    margin-top: 20px
    padding: 40px

  .item
    width: 550px

  .product
    img
     height: 600px




